.container{
  display: flex;
  margin: 5px;

}
.comment{
  background-color: white;
  width:80%;
  margin:5px 20px;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}

img{
  width: 50px;
  border-radius: 25%;
}

.time{
  float: right;
  color: #ded1f4;
  font-size: 11px;
}
