.container{
  padding: 50px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 80%;
  margin: auto;
}

.example-full-width {
  width: 100%;
}

button{
  float: right;
}

.error{
  margin: 50px auto;
  text-align: center;
}

.success{
  margin: 50px auto;
  text-align: center;
}
.success p {
  color: green;
}
