.container{
  position: relative;
}
.reactions{
  text-align: end;
}

.reactions div {
  display: inline-block;
}
.reactions mat-icon{
  cursor: pointer;
  margin-left: 20px;
}

.new{
  position: absolute;
  right: 0;
}

.edit{
  position: relative;
  top: -20px;
}

h1{
  font-size: 40px;
  display: inline-block;
}

h3 span{
  color: #928e9a;
  margin-left: 10px;
}

