<div class="container">
  <button mat-flat-button color="primary" aria-label="Clear" class="new" (click)="openDialog()">
    Add new
    <mat-icon>feed</mat-icon>
</button>

  <div class="header">
    <h1>{{article.name}}</h1>
    <button mat-button mat-icon-button aria-label="Clear" class="edit" (click)="openDialog()">
      <mat-icon>mode_edit</mat-icon>
    </button>

    <h3>Author: {{article.owner.username}} ~ <span>Published at {{article.updatedAt|date}}</span></h3>
  </div>

  <p>
    {{article.content}}
  </p>

  <div class="reactions">
    <div class="like" (click)="likedClicked()">
      <mat-icon *ngIf="this.userReaction && userReaction.type === 'liked'" >thumb_up</mat-icon>
      <mat-icon *ngIf="!this.userReaction || !(userReaction.type === 'liked')" svgIcon="thumbs-up"></mat-icon>
    </div>

    <div class="favorite" (click)="favClicked()">
      <mat-icon *ngIf="this.userReaction && userReaction.type === 'favorite'">favorite</mat-icon>
      <mat-icon *ngIf="!this.userReaction ||!(userReaction.type === 'favorite')">favorite_outline</mat-icon>
    </div>

    <div class="interesting" (click)="interstClicked()">
      <mat-icon *ngIf="this.userReaction && userReaction.type === 'interesting'">lightbulb</mat-icon>
      <mat-icon *ngIf="!this.userReaction || !(userReaction.type === 'interesting')">lightbulb_outline</mat-icon>
    </div>
  </div>
</div>
