.reactions{
  text-align: end;
}

.reactions div {
  display: inline-block;
}
.reactions mat-icon{
  cursor: pointer;
  margin-left: 20px;
}
.actions{
  float: right;
}

h1{
  font-size: 40px;
}

h3 span{
  color: #928e9a;
  margin-left: 10px;
}

