<div class="actions">
  <mat-icon >feed</mat-icon>
  <mat-icon >mode_edit</mat-icon>
</div>
<h1>{{article.name}}</h1>
<h3>Author: {{article.owner.username}} ~ Published at {{article.updatedAt|date}}</h3>
<p>{{article.content}}
</p>
<div class="reactions">
  <mat-icon *ngIf="!liked" svgIcon="thumbs-up"></mat-icon>
  <mat-icon *ngIf="liked">thumb_up</mat-icon>

  <mat-icon *ngIf="favorite">favorite</mat-icon>
  <mat-icon *ngIf="!favorite">favorite_outline</mat-icon>

  <mat-icon *ngIf="interesting">lightbulb</mat-icon>
  <mat-icon *ngIf="!interesting">lightbulb_outline</mat-icon>
</div>
