<div class="logout">
  <button mat-button color="primary" (click)="logout()">Logout</button>
</div>
<div class="container" fxLayout="row" fxLayoutAlign="space-between">
  <mat-spinner *ngIf="!currentArticle" class="spinner" ></mat-spinner>
  <div fxFlex="60" class="col" *ngIf="currentArticle" >
    <app-article [article]="currentArticle"></app-article>
    <div class="comments">
      <app-comment-section [articleId]="currentArticle.id"></app-comment-section>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>

  <div fxFlex="40" class="col">
        <app-search-section></app-search-section>
  </div>
</div>
